@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat+Alternates:wght@200&display=swap');
html{
    background-color:rgb(42, 49, 54);
}
body{
    width:100%;
    margin:0px;
    
}
.main{
    display:flex;
    width:90%;
    margin:auto;

}
.textd{
    color:white;
    font-family: 'Monoton', cursive;
    text-align:left;
    font-size:3em;
    margin-left:8vh;
    margin-top:5vh;
}
.dword{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:1.5em;
    color:greenyellow;
}
.dblock{
    margin-top:8vh;
    font-family: 'Montserrat Alternates', sans-serif;
    width:40%;
    color:white;
    font-size:1.2em;
}
.usernameInput,.bookbtn{
    border:0px transparent;
    outline:none;
    font-family: 'Monoton', cursive;
    color:white;
    font-size:1.5em;
    position:absolute;
    text-align:left;

}
.bblock{
    width:30%;
    
    margin: auto;
}
.row_text{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:1.2em;
    color:white;
    margin:8px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.56);
}
.row_num{
    margin:3px;
    display:flex;
}
.seat_btn{
    width:2.5vw;
    height:5.5vh;
    margin:10px;
    box-shadow: 10px 15px 18px -3px rgba(7, 13, 17, 0.52);
    font-size:1em;
}
.seat_btn:focus {
    color: rgb(255, 255, 255);
    box-shadow: 7px 2px 11px 4px rgba(31, 31, 31, 0.92);
    background-color:rgb(30, 37, 43);
    outline-style: none;
    border:0px transparent;
}

.usernameInput{
    padding-right:4.5vw;
    padding-left:1vw;
    right:0vw;
    width:12vw;
    bottom:20vh;
    background-color:rgb(201, 131, 84);
}
.bookbtn{
    background-color:rgb(143, 189, 100);
    padding-right:5vw;
    padding-left:1vw;
    right:0vw;
    bottom:12vh;

}