@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Righteous&display=swap');
html{
    background-color:rgb(110, 123, 134);
}
body{
    margin:0px;
    width:100%;
}
.text{
    font-family: 'Monoton', cursive;
    text-align:center;
    font-size:5em;
    margin:8vh;
 
}
.mblocks{
    display:flex;
    flex-wrap:wrap;
    width:90%;
    margin:auto;
    height:100%;
    justify-content: center;
}
.mblock{
    margin:15px;
}
.img{
    width:17vw;
    height:50vh;
}
.img:hover{
    opacity:80%;
   
}